language = "python3"
run = "python3 server.py"

onBoot="INFO: Boot sequence initiated"

[packager]
afterInstall="date >> package_install_log"
# ignoredPaths=[".git"]
# ignoredPackages=["twitter", "discord"]